@model ProjectTest.Models.Subject

@{
    ViewData["Title"] = "Subject Details";
}

<h2>Subject Details</h2>

<div>
    <h4>Subject:</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SubjectName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SubjectName)
        </dd>
    </dl>
</div>

<p>
    <a asp-action="Edit" asp-route-id="@Model.SubjectId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</p>
